@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS with @apply */
.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* Tailwind CSS with @apply */
.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.stubber_webchat_message_box {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.stubber_webchat_theme {
  --background-color: white;
  --neutral-color: #909090;
}

.stubber_webchat_outer_box {
  z-index: 500;
  font-size: 16px !important;
}

.stubber_webchat_input_box,
.stubber_webchat_top_box,
.stubber_webchat_chat_button {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.stubber_webchat_message_box,
.stubber_webchat_switch_box {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
}

.stubber_webchat_switch_box {
  border: none
}

.stubber_webchat_chat_button_border_fill {
  background-color: var(--background-color);
  border: var(--neutral-color);
  fill: var(--neutral-color);
}

.stubber_webchat_chat_button_border_fill_selected {
  border-color: var(--primary-color);
  fill: var(--primary-color);
}

.stubber_webchat_chat_button:hover {
  opacity: 0.5
}

.stubber_webchat_chat_button:disabled {
  background-color: var(--neutral-color);
  color: var(--background-color);
}

.stubber_webchat_breadcrumb_fill {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.stubber_webchat_message_tick_received {
  fill: var(--primary-color);
}

.stubber_webchat_message_tick_pending {
  fill: var(--neutral-color);
}

.stubber_webchat_general_input {
  border:2px solid var(--primary-color);
}

.stubber_webchat_general_input_error {
  border:2px solid red
}