/* Start Chat Button */

.stubber_webchat_enable_button {
  background-color: gray;
  border: none;
  color: white;
  position: fixed;
  bottom: 10vh;
  right: 5vh;
  z-index: 1000;
  border-radius: 20px;
  width: 60px;
  height: 40px;
  align-items: center;
}

.stubber_webchat_enable_button:hover {
  background-color: rgb(96, 96, 96);
  color: white;
}

.stubber_webchat_primary_color {
  background-color: #007bff;
  color: white;
}

/* Start Chat Button */

/* WebChat box */

.stubber_webchat_box {
  font-family: "Arial", sans-serif;
  background-color: white;
  color: black;
  position: fixed;
  bottom: 10vh;
  right: 5vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 600px;
  z-index: 1000;
}

/* WebChat box */

/* Webchat message box */

.stubber_message_box {
  font-family: "Arial", sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 93%;
  background-color: rgb(215, 215, 215);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.stubber_message_box_switching {
  height: 86%;
}

/* Webchat message box */

/* Webchat input box */

.stubber_message_input_box {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 7%;
  position: absolute;
  bottom: 0;
  display: flex;
  border: none;
}

.stubber_message_input {
  background-color: rgb(215, 215, 215);
  width: 90%;
  border: none;
  padding: 10px;
  border-bottom-left-radius: 20px;
}

.stubber_message_input:focus {
  outline: none;
}

.stubber_message_send_button {
  background-color: gray;
  color: white;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-bottom-right-radius: 20px;
}

.stubber_message_send_button:hover {
  background-color: rgb(96, 96, 96);
  color: white;
}

.stubber_message_send_button_svg {
  color: white;
  width: 20px;
  height: 20px;
}

/* Webchat input box */

/* Webchat messsage bubbles outgoing */

.stubber_webchat_message_out {
  background-color: #f0f0f0;
  float: right;
  text-align: left;
}

.stubber_webchat_message_info_sent,
.stubber_webchat_message_info_sent_delivered {
  background-size: contain;
  width: 20px;
  height: 20px;
}

.stubber_webchat_message_info_sent {
  color: grey;
}

.stubber_webchat_message_info_sent_delivered {
  color: blue;
}

.stubber_webchat_message_info_time_out {
  color: black;
}

/* Webchat messsage bubbles outgoing */

/* Webchat messsage bubbles incoming */

.stubber_webchat_message_in {
  background-color: #0c74f1;
  float: left;
  text-align: left;
  color: white;
}

.stubber_webchat_message_info_time_in {
  color: white;
}

/* Webchat messsage bubbles outgoing */

/* Webchat message bubbles common */

@media (max-width: 600px) {
  .stubber_webchat_message_out,
  .stubber_webchat_message_in {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .stubber_webchat_message_out,
  .stubber_webchat_message_in {
    max-width: 50%;
  }
}

.stubber_webchat_message_out,
.stubber_webchat_message_in {
  margin: 10px;
  padding: 15px;
  border-radius: 9px;
  clear: both;
  min-width: 300px;
  min-height: 50px;
  max-width: 80%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stubber_webchat_message_info_box {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stubber_webchat_message_info_time_in,
.stubber_webchat_message_info_time_out {
  font-size: 0.75rem;
}

/* Webchat message bubbles common */

/* Webchat switch box */

.stubber_chat_switch_box {
  background-color: rgb(215, 215, 215);
  width: 100%;
  height: 7%;
  position: absolute;
  bottom: 7%;
  display: flex;
}

.stubber_chat_switch_box_details {
  bottom: 0;
}

.stubber_chat_switch_text {
  width: 40%;
  border: none;
  text-align: center;
  font-size: 15px
}

.stubber_chat_switch_button {
  background-color: gray;
  color: white;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 5px;
  border-radius: 5px;
}

/* Webchat switch box */
